body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.container {
  font-size: 3rem;
  margin: auto;
  max-width: 800px;
  margin-top: 20px;
}

.header {
  padding: 1em;
  background: #000;
  color: #fff;
  text-align: center;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .button {
  font-size: 0.35em;
  margin-left: 1em;
  background: tomato;
  color: white;
  border-radius: 20px;
  padding: 0.25em 1em;
  cursor: pointer;
}

.header .button:hover {
background: red;
}