.counter {
  background:green;
  display:flex;
  justify-content: space-between;
  padding: 1em 0.5em;
  color: white;
  font-size: 2em;
}

.counter button {
  background: none;
  border: none;
  color: white;
  font-size: 0.5em;
  cursor: pointer;
  background: #000;
  border-radius: 20px;
  padding: 0.5em 0.75em;
}

.counter button:hover {
  background:gray;
}