.box {
	background: red;
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: center;
	flex-direction: column;
  font-size: 2em;
  color: white;
  text-align: center;
}

.grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1em;
	margin-top: 3em;
}
